<div class="container">
  <div class="left-col">
    <memo-options-panel
      *ngIf="gameStatus == GameStatus.NotStarted"
    ></memo-options-panel>

    <div class="game-panel" *ngIf="gameStatus == GameStatus.Started">
      jhhjdsk
    </div>
  </div>
  <div class="right-col">
    <memo-game
      *ngIf="gameStatus == GameStatus.Started"
      [nbOfCards]="gridSize"
      [maxFlipCount]="sliderValue"
    ></memo-game>
    <div *ngIf="gameStatus == GameStatus.NotStarted" class="gameGrid"></div>
  </div>
</div>
