<div class="options-panel" *ngIf="!isGameStarted">
  <div>
    <label>Mode de jeu</label>
    <mat-button-toggle-group
      name="gameMode"
      [value]="gameMode"
      (change)="updateGameModeValue($event)"
    >
      <mat-button-toggle value="1" checked>1 joueur</mat-button-toggle>
      <mat-button-toggle value="2">2 joueurs</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <label>Taille de la grille</label>
    <mat-button-toggle-group
      name="gameSize"
      [value]="gridSize"
      (change)="updateGridSizeValue($event)"
    >
      <mat-button-toggle value="9" checked>9</mat-button-toggle>
      <mat-button-toggle value="16">16</mat-button-toggle>
      <mat-button-toggle value="25">25</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <label>Nombre de coups maximal</label>
    <mat-slider
      [min]="sliderMin"
      [max]="sliderMax"
      step="1"
      [value]="sliderValue"
      thumbLabel
      (change)="updateSliderValue($event)"
    ></mat-slider>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="startGame()">
      Commencer
    </button>
  </div>
</div>

<div class="game-panel" *ngIf="isGameStarted">messages during game go here</div>
